# Проект Дашборд конверсий

### подключаем библиотеки

In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
from dotenv import load_dotenv

### получаем данные

In [2]:
start_date = '2023-03-01'
end_date = '2023-09-01'

url_visits = f'https://data-charts-api.hexlet.app/visits?begin={start_date}&end={end_date}'
url_registrations = f'https://data-charts-api.hexlet.app/registrations?begin={start_date}&end={end_date}'

response_visits = requests.get(url_visits)
data_visits = response_visits.json()

response_registrations = requests.get(url_registrations)
data_registrations = response_registrations.json()

### изучаем данные

In [3]:
df_visits = pd.DataFrame(data_visits)
df_visits.head(10)

,visit_id,platform,user_agent,datetime
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T10:36:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...,2023-03-01T06:25:00
2,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T10:26:13
3,19322fed-157c-49c6-b16e-2d5cabeb9592,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,2023-03-01T12:33:06
4,04762a22-3c9f-40c9-9ac9-6628c4381836,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T01:38:35
5,040e1e30-c9ed-4248-bc97-99a707e36d60,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T02:11:55
6,7bf78a4d-9f8f-4ffb-a5f8-0a0a58994953,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T23:43:34
7,175e9941-2607-4d5f-b6ab-14759da618fd,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T02:50:27
8,d868c2cf-1d4a-4b12-b6a2-0bb02edf0743,web,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,2023-03-01T16:37:35
9,e1668271-7c9b-4fae-80ca-17b703be0e66,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,2023-03-01T08:28:12

In [4]:
df_visits.tail(10)

,visit_id,platform,user_agent,datetime
263449,c2114102-ebfd-4214-9d81-9e6e2c02bf86,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-08-28T03:32:26
263450,2c708858-25f0-4424-bdb3-a5f014a838b2,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-08-31T04:49:53
263451,c737e953-60bc-4191-8cf3-cbc21a0ccbf0,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-08-29T11:01:36
263452,6d7ccc66-9c92-4b32-b5ff-18a68eabe629,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:1...,2023-08-30T07:24:04
263453,6d2e2f5b-970b-4dfe-8f57-25711a5b2a5d,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,2023-08-28T04:58:17
263454,6d2e2f5b-970b-4dfe-8f57-25711a5b2a5d,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,2023-08-29T10:43:29
263455,1d91535e-d984-4f76-bbaa-c14c0fd4f2e2,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-08-29T19:29:16
263456,f2496721-7126-430d-976e-777a6cdccb4f,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-08-29T12:51:11
263457,f2496721-7126-430d-976e-777a6cdccb4f,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-08-29T21:45:08
263458,73047125-de44-4d65-8229-7218acff4ddc,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-08-30T19:19:04

In [5]:
df_registrations = pd.DataFrame(data_registrations)
df_registrations.head(10)

,datetime,user_id,email,platform,registration_type
0,2023-03-01T07:40:13,2e0f6bb8-b029-4f45-a786-2b53990d37f1,ebyrd@example.org,web,google
1,2023-03-01T13:14:00,f007f97c-9d8b-48b5-af08-119bb8f6d9b6,knightgerald@example.org,web,email
2,2023-03-01T03:05:50,24ff46ae-32b3-4a74-8f27-7cf0b8f32f15,cherylthompson@example.com,web,apple
3,2023-03-01T00:04:47,3e9914e1-5d73-4c23-b25d-b59a3aeb2b60,halldavid@example.org,web,email
4,2023-03-01T18:31:52,27f875fc-f8ce-4aeb-8722-0ecb283d0760,denise86@example.net,web,google
5,2023-03-01T03:54:43,9a918a05-768e-49f5-ae48-183618bdeb7b,wrightmelissa@example.com,web,apple
6,2023-03-01T20:52:05,84ffb27c-d8a4-4cdf-a2a3-635fb3f8a170,wallaceandrew@example.org,web,email
7,2023-03-01T06:12:27,380a8791-323a-4ba8-936a-5616ae39220f,wrightrobert@example.org,web,email
8,2023-03-01T16:31:44,f65902f0-97b9-4817-9457-dfd41284ee50,nmartin@example.com,android,email
9,2023-03-01T05:47:06,64a4acc1-f2c7-4de6-8b27-ae9b68ff0b29,edward70@example.net,android,email

In [6]:
df_registrations.tail(10)

,datetime,user_id,email,platform,registration_type
21826,2023-08-31T03:18:54,19e09209-ba96-4e4a-bc79-f1eff1c5a603,benjaminnoble@example.com,ios,email
21827,2023-08-31T16:18:35,9ab1350a-9381-43a2-a049-49b983530906,xleonard@example.net,ios,apple
21828,2023-08-31T12:59:21,99583e52-8c92-4219-bf07-7165dd4125bb,melissaharris@example.org,ios,email
21829,2023-08-31T07:05:30,66c932d7-438a-437c-840b-006bb3a37bb6,michaelkemp@example.org,ios,email
21830,2023-08-31T20:47:33,140eb03e-84a4-45ab-928e-7fff76a49b0a,ohart@example.org,ios,apple
21831,2023-08-31T07:32:08,a94b4a28-f25c-433c-b4ef-85af7d5b0c11,ikelley@example.net,ios,apple
21832,2023-08-31T23:25:50,fc709c6b-528b-40d8-8980-c2c278e5a628,brittanycox@example.net,ios,apple
21833,2023-08-31T19:29:18,11e32805-7571-4108-8e50-e211d051bf7e,aryan@example.net,ios,apple
21834,2023-08-31T19:38:54,bce7b818-768b-434a-b6af-573cd60bff7f,emartinez@example.net,ios,email
21835,2023-08-31T08:36:05,fe03e08a-8e86-4b5f-9a50-c18a02b0d234,terriperry@example.net,ios,email

### краткая сводка по данным

In [7]:
df_visits.describe()

,visit_id,platform,user_agent,datetime
count,263459,263459,263459,263459
unique,146085,4,32,261204
top,64167edd-323a-4ab0-be9b-acd237a1ac30,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-07-06T10:45:50
freq,4,236301,13623,3

In [8]:
df_registrations.describe()

,datetime,user_id,email,platform,registration_type
count,21836,21836,21836,21836,21836
unique,21821,21836,20868,3,4
top,2023-06-23T13:10:45,2e0f6bb8-b029-4f45-a786-2b53990d37f1,ujones@example.com,android,email
freq,2,1,6,10582,8996